html{
    min-height: 100vh;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.h-full {
    min-height: 100vh;
}

div.section1 {
    background-color: #1F2937;
    flex: 1;
    min-height: 50vh;
}

header {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    padding-top: .5rem;
    
}

.headl {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 500;
    margin-right: auto;
    margin-left: 10rem;
}

.links {
    display: flex;
    margin-right: 10rem;
}

.link {
    color: #E5E7EB;
    font-size: 18px;
    padding-left: 2rem;
}

.content {
    display: flex;
    margin-left: 10rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.left {
    flex-basis: 50%;
}

.herom {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    
}

.heros {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: .5rem;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    padding: 3px 20px;
}

.headerimg {
    margin-right: 10rem;
}

.img {
    height: 200px;
    width: 450px;
    border: 1px solid white;
    margin-left: 3rem;
}

div.section2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex: 1;
    margin: 0 10rem;
    min-height: 65vh;
}

.randinfo {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding: 2rem 0;
}

.cities {
    display: flex;
    justify-content: space-between;
}

.city {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.city:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 0px 0px 100px 
    rgba(0, 0, 0, 0.0);
}

.atl,
.nashville,
.sanfran,
.montana {
    height: 250px;
    width: 250px;
    border: 1px solid #3882F6;
    border-radius: 5px;
    background-size: cover;
    margin-bottom: 10px;
}

.atl {
    background-image: url(./images/downtownATL.jpeg);
}

.nashville {
    background-image: url(./images/nashville.jpeg);
}

.sanfran {
    background-image: url(./images/thebayarea.jpeg);
}

.montana {
    background-image: url(./images/glacierNP.jpeg);
}

p {
    font-size: 25px;
    font-weight: 500;
}

div.section3 {
    background-color: #E5E7EB;
    flex: .75;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
}

.quote {
    margin: 0 10rem;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 200;
    padding: 20px 0;
}

.quoter {
    font-size: 18px;
    font-weight: 500;
    margin: 0 10rem;
    margin-left: 50%;
    text-decoration: none;
    color: #1F2937
}

/* .quoter:hover {
    text-shadow: 0 0 5px
    rgba(33, 33, 33, .2)
} */

div.section4 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10rem;
    min-height: 35vh;
}

.ctacontainer {
    background-color: #3882F6;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex: .2;
    display: flex;
    align-items: center;
    min-height: 10vh;
}